jdatetime
aiogram
sqlalchemy
aiosqlite
asyncpg
apscheduler
aiohttp
pillow
pyzbar
qrcode
matplotlib
python-dotenv
imageio
imageio-ffmpeg
requests
beautifulsoup4
passlib[argon2]
pydantic
python-dateutil
redis
alembic
psycopg2-binary
